<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MIHCM.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
				<key>dateExpires</key>
				<string>2023-01-20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ActivityFeed.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Attendance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Claims.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CommonModelService.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CommonUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CommunicationProtocol.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Extensions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Leave.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MyApps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MyAttendance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Noticeboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PaySlip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PostOT.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PriorOT.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ReachHR.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RequestStatus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Settings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StaffDirectory.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Team.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ThingsToDo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WorkTimeSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>V4GQJ3DNS7.com.mihcm.Development.LeaveDetailWidget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>V4GQJ3DNS7</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.mihcm.app</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>LeaveDetailWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>74630a96-0131-49dc-a6f7-6a944e094c8c</string>
						<key>dateExpires</key>
						<string>2023-01-25</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.mihcm.Development.LeaveDetailWidget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.23</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>V4GQJ3DNS7.com.mihcm.Development.Siri</string>
						<key>com.apple.developer.team-identifier</key>
						<string>V4GQJ3DNS7</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.mihcm.app</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>Siri.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>39b654f4-7c1b-4d85-bd32-a0d2e415d445</string>
						<key>dateExpires</key>
						<string>2023-01-25</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.mihcm.Development.Siri</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.23</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E56D66910552EBB46ABA43FFD14A477EBEC30D7</string>
						<key>dateExpires</key>
						<string>2023-01-20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>V4GQJ3DNS7.com.mihcm.Development.WhoElseOnLeaveWidget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>V4GQJ3DNS7</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.mihcm.app</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>WhoElseOnLeaveWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>744270ab-782c-4741-822f-6d17d8a9c04c</string>
						<key>dateExpires</key>
						<string>2023-01-25</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.mihcm.Development.WhoElseOnLeaveWidget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V4GQJ3DNS7</string>
						<key>name</key>
						<string>Microimage Mobile Media Pvt Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.23</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>22Q3K9VN3D.com.mihcm.Development</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.siri</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>V4GQJ3DNS7</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.mihcm.app</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MIHCM.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e0160fd3-1225-4911-a2fe-6dc2ad468591</string>
				<key>dateExpires</key>
				<string>2023-01-25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.mihcm.Development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V4GQJ3DNS7</string>
				<key>name</key>
				<string>Microimage Mobile Media Pvt Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.40</string>
		</dict>
	</array>
</dict>
</plist>
